/*Geral*/
*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-color: #000;
    color:#d3d3d3;
}
section{
    min-height: 100vh;
}
.interface{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: "Roboto Slab", serif;
    color:#fff;
}
h2{
    font-size: 50px;
    color: #fff;
    margin: 20px auto;
}
span.nomeDaLoja{
    font-family: "Roboto Slab", serif;
}

/*navbar*/
header{
    width:100%;
    height: 90px;
    padding: 0;
    position: fixed;
    top:0;
    left:0;
    transition: .5s;
    z-index: 1;
}

header.rolar{
    background-color:rgba(0,0,0,0.7);
    padding: 0 2%;
    box-shadow: 0 2px 20px #7fa;
}

header .interface{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

header .flex{
    width: 100vw;
    justify-content: left;
    margin-left: 300px;
}

header .flex a img{
    margin-top: 8px;
    margin-right: 100px;
    width: 75px;
    height: 75px;
    transition: .3s;
}
header .flex a img:hover{
    transform: scale(1.1);
}

header ul li{
    display:inline-block;
    padding: 20px;
    margin-right: 10px;
    transition: .2s;
}
header ul li:hover{
    transform: scale(1.2);
}

header ul li i{
    color:#fff;
    font-size: 20px;
    margin: 5px;
}

header ul li a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    color:#FFF;
    position:relative;
}
header ul li a:hover{
    color:#7fa;
}

header ul li a::after{
    content:" ";
    width: 0%;
    height: 1px;
    background-color:#7fa;
    position:absolute;
    bottom:0;
    left: 0;
    transition: .4s ease-in-out;
}
header ul li a:hover::after{
    width: 100%;
}


/*Section1 inicio*/
.section1 .interface{
    justify-content: left;
    height: 100vh;
    width: 100%;
    padding-top: 90px;
}

.interface .video_background{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.interface .video_background video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.section1 .interface .flex{
    width: 100%;
    height: 100%;
    justify-content: left;
    position: relative;
    background: linear-gradient(to right, rgba(0,0,0,0.9), transparent);
}

.flex .txt_Inicio{
    margin-left: 4%;
    padding: 10px;
}

.txt_Inicio img{
    margin-bottom: 20px;
}

.txt_Inicio h3{
    text-align: center;
    font-size: 80px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
}

.txt_Inicio .btn_Inicio{
    width: 100%;
    top: -100px;
    position: relative;
    display:flex;
    justify-content: right;
}

.txt_Inicio .btn_Inicio button{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background: transparent;
    border: 5px solid #25D366;
    cursor: pointer;
    color: #25D366;
}
.txt_Inicio .btn_Inicio button i{
    font-size: 50px;
}

.txt_Inicio .btn_Inicio button:hover{
    color: #fff;
    border: 5px solid #fff;
    background: #25D366;
    box-shadow: 0 0 10px #7fa;
}

.flex .txt_Inicio p{
    position: relative;
    top: -75px;
    text-align: center;
    font-size: 40px;
    margin: 5px;
    text-shadow: 5px 5px 10px #000;
}

.flex .txt_Inicio p i{
    color: #900;
    font-size: 50px;
}
.flex .txt_Inicio p a{
    color: #fff;
    margin: 5px;
}

.flex .txt_Inicio p:hover{
    transform: scale(1.05);
}

.flex .btn_Flutuante{
    width: 170px;
    height: 100px;
    position: fixed;
    right: -90px;
    bottom: 80px;

}
.flex .btn_Flutuante button i{
    font-size: 50px;
    color:#FFF;
    padding-left: 15px;

}
.flex .btn_Flutuante .btn_WAPP{
    width: 150px;
    height: 70px;
    border-radius: 30px;
    border: 3px solid #FFF;
    background-color: #25D366;
    cursor: pointer;
    text-align: left;
    transition: .3s;
}

.flex .btn_Flutuante .btn_WAPP:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #7fa;
}

.flex .btn_Flutuante .btn_Insta{
    margin-bottom: 10px;
    width: 150px;
    height: 70px;
    border-radius: 30px;
    border: 3px solid #FFF;
    background: linear-gradient(to right, #515BD3, #8134AF, #DD2A7B, #FEDA77, #F58529);
    cursor: pointer;
    text-align: left;
    transition: .3s;
}

.flex .btn_Flutuante .btn_Insta:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #7fa;
}

/*Section2 Serviços*/
.section2 .interface{
    background-image: url(/Imagens/Testes/IMG_BackServicos2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.section2 .flex{
    justify-content: space-around;
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

.flex .txt_Servicos{
    width: 60%;
    height: 100%;
}
.txt_Servicos h2{
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
    padding-bottom: 30px;
}
.txt_Servicos p{
    margin: 0 auto;
    text-justify:distribute;
    font-size: 25px;
    width: 900px;
    color:#fff;
}
.txt_Servicos span{
    color:#7fa;
}

.txt_Servicos .container_Cards{
    display: flex;
}
.container_Cards .cards{
    width:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin:40px 15px 0 15px;
    transition: .2s;
    z-index: 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}
.container_Cards .cards:hover{
    transform: scale(1.1);
    box-shadow: 0 0 8px #7fa;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.9);
}
.cards img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.cards h3{
    font-family: "Roboto Slab", serif;
    padding: 5px;
    font-size: 25px;
    text-align: center;
}
 .cards li{
    text-justify: distribute;
    font-size: 20px;
}
.cards ul{
    padding:5px;
}
.cards ul li{
    text-align: left;
}


.flex .video_Servicos video{
    height: 650px;
    border-radius: 30px;
}

/*Section3 FAQ*/

.section3 .interface h3{
    text-align: center;
    font-size: 60px;
    color: #fff;
    margin: 50px auto;
}

.section3 .flex{
    width: 100%;
    justify-content: left;
    margin-left: 100px;
    margin-top: 80px;
}


.accordion .content_Bx{
    position: relative;
    margin: 10px 20px;
}

.content_Bx .title_Accordion{
    width: 800px;
    position: relative;
    padding: 10px 35px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    color: #000;
    background: linear-gradient(to right, rgba(119, 255, 170,0.9),transparent);
}

.content_Bx .title_Accordion::before{
    content: '+';
    position: absolute;
    top: 20%;
    right: 20px;
    color:#7fa;
    transform: translateY(-15%);
    font-size: 40px;
}

.content_Bx .content{
    width: 800px;
    position: relative;
    background: linear-gradient(to right, rgba(30, 32, 31, 0.9),transparent);
    text-align: left;
    color: #fff;
    font-size: 25px;
    height: 0;
    overflow: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}

.content_Bx.active .content{
    height: 150px;
    padding: 10px;
} 

.content_Bx.active .title_Accordion::before{
    content: '-';
    font-size: 40px;
    margin-right: 5px;
}



/*Section4 Avaliacoes*/
.section4 .interface{
    background: url(/Imagens/Testes/imgBackgroundAvaliacao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.section4 .interface h2{
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
    padding-bottom: 30px;
}

.section4 .interface .flex{
    justify-content: space-between;
    width: 80vw;
}

.interface .flex .txtAvaliacoes{
    position: relative;
    right: 89px;
    top: -109px;
    width: 900px;
    padding: 10px;
}

.txtAvaliacoes p{
    font-size: 30px;
    padding: 20px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.txtAvaliacoes span{
    font-size: 35px;
    color:#7fa;
}

.btn_Avaliacoes button{
    margin-top: 50px;
    font-size: 30px;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: 400;
    color:#d3d3d3;
    border: 3px solid #d3d3d3;
    background-color: transparent;
    transition: .2s;
}

.btn_Avaliacoes button:hover{
    transform: scale(1.1);
    background-color: #7fa;
    color:#000;
    font-weight: 500;
    border: none;
    box-shadow: 0 0 8px #7fa;
}

.flex .slider{
    position: relative;
    top: -70px;
    right: -100px;
    width: 400px;
    height: 650px;
    background-image: url(/Imagens/Avaliacoes/TesteAvaliacao1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .containerSlide{
    margin-top: 170px;
    overflow: hidden;
    width: 280px;
    height: 270px;
}

.containerSlide .slide{
    display: flex;
    transition: transform 0.5s infinite;
    transform: translateX(0);
}

.slide img{
    object-fit: cover;
    width: 280px;
}

/* Section5 Contatos*/
.section5 .interface{
    height: 100vh;
}

.section5 .flex .containerContatos{
    display: block;
}
.flex .btn_Contato button{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 600px;
    height: 80px;
    border: 2px solid #d3d3d3;
    border-radius: 20px;
    background-color: transparent;
    color:#d3d3d3;
    font-weight: 400;
    font-size: 25px;
    text-align: left;
    padding-left: 30px;
    margin: 50px;
    cursor:pointer;
    transition: .2s;
}
.flex .btn_Contato a{
    color:#d3d3d3;
    text-decoration: none;
}
.flex .btn_Contato button i{
    font-size: 40px;
    padding-right: 20px;
}

.flex .btn_Contato button:hover{
    background-color: #d3d3d3;
    border: none;
    color:#000;
    transform: scale(1.1);
}

/*Section6 Envios*/

.section6 .interface{
    height: 100vh;
    background-image: url(/Imagens/Envios/caixas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section6 .interface .flex{
    justify-content: space-around;
    width: 90vw;
}

.flex .imgs_Envios{
    display: flex;
    flex-direction: column;
} 

.flex .imgs_Envios img{
    width: 270px;
    margin: 20px;
    border-radius: 20px; 
}

.txt_Envios h3{
    text-align: center;
    font-size: 80px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
}
.txt_Envios p{
    font-size: 20px;
    text-align: center;
    text-shadow: 5px 5px 10px #000;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Section7 Sobre*/
.section7 .interface h2{
    color:#d3d3d3;
}
.flex .txt_Sobre{
    margin: 50px;
}

.txt_Sobre h3{
    color:#d3d3d3;
    font-size: 27px;
    margin-bottom: 20px;
}

.txt_Sobre p{
    font-size: 24px;
    color: #d3d3d3;
    font-weight: 400;
}

.img_Sobre li{
    color: #d3d3d3;
    list-style: none;
    font-size: 22px;
    margin-bottom: 10px;
}

.img_Sobre p{
    font-size: 24px;
    color: #d3d3d3;
    font-weight: 400;
    margin: 10px auto;
}

.img_Sobre li a{
    font-size: 23px;
}

.img_Sobre li a:hover{
    color:#d3d3d3;
}

.flex .img_Sobre img{
    top: 0;
    width: 500px;
    height: 500px;
    margin-right: 20px;
    border-radius: 30px;
}